*{
    margin: 0px;
    padding: 0px;
}

.box {
    width: 300px;
    border: 15px solid blue;
    height: 100px;
    background-color: lightblue;
    padding: 50px;
}

.box1 {
    background-color: lightblue;
    width: 300px;
    border: 1px solid black;
    height: 100px;  
}

.box-txt{
    width: 300px;
    margin-top: 18px;
}
.box-head{
    border: 1px solid black;
    width: 475px;
    height: 275px;
}
.box-child{
    margin: 20px;
}