body{
    margin-top: 0px;
    padding: 0px;
}
#animal-photos {
    width: 65%;
    height: 800px;
    background-color: #444444;
    border-radius: 2%;
}

#photo-heading {
    text-align: center;
}

.photo{
    display: flex;
    justify-content: space-around;
}

img{
    margin-top: 18px;
    border-radius: 5%;
}