.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.item-1 {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flexbox;
    justify-content: center;
    align-items: center;    
    text-align: center;
}