.testmonial-section{
    padding: 20px;
    background-color: #f5f5f5;
}
.testmonial{
    padding: 10px;
    border: 1px solid gray;
    background-color: #fff;
    margin-bottom: 10px;
}
#testmonial-text{
    font-family: Arial;
    font-size: 15px;
}
.author{
    text-align: right;
    font-style: italic;
}